
Builds/
_5eCharaCreator/Library/
_5eCharaCreator/.vs/
_5eCharaCreator/.vscode/
_5eCharaCreator/Logs/
_5eCharaCreator/obj/
_5eCharaCreator/Temp/
_5eCharaCreator/Builds/
_5eCharaCreator/UserSettings/

*.csproj
*.sln


