
Builds/
_5eCharaCreation/Library/
_5eCharaCreation/.vs/
_5eCharaCreation/.vscode/
_5eCharaCreation/Logs/
_5eCharaCreation/obj/
_5eCharaCreation/Temp/
_5eCharaCreation/Builds/
_5eCharaCreation/UserSettings/

*.csproj
*.sln


